h1 {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

hr {
    color: black;
    border-top: 3px solid;
}

h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}

.blue-text {
    color: rgb(0, 110, 255);
}

p {
    line-height: 1.6em;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0px;
}

a {
    font-weight: bold;
    text-decoration: none;
    transition: all 200ms;
}

article {
    min-height: 50vh;
    margin-bottom: 50px;
}

article .margin {
    margin-bottom: 100vh;
}

.top-of-page {
    min-height: 0px;
    margin-bottom: 0px;
}

nav {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background: #555555;
    position: relative;
    padding-top: 20px;
    z-index: 100;
}

nav a {
    display: inline-flex;
    padding: 0px 2%;
    color: #fff;
    text-decoration: none;
}

html {
    font-family: "Arial", sans-serif;
}

.window {
    position: relative;
    display: block;
    margin: auto;
    background-color: orange;
    width: 70%;
}

.Logo {
    width: 100%;
    height: 50px;
    padding-top: 0px;
    margin-bottom: 0%;
}

.Social {
    width: 30px;
    height: 30px;
    text-align: right;
}

.Mothership {
    padding-top: 40px;
}

.middle {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.middle-text {
    text-align: center;
}

.menu-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px
}

.promotions-image {
    width: 350px;
    height: 170px;
}

a.side-link {
    color: #555555;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

.header-link {
    text-decoration: bold;
    color: #f8f8f8;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
    color: #555555;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 10px;
    background-color: #df5900;
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.vertical {
    padding: 10px 0;
}

.form-text {
    font-size: 20px;
    color: rgb(0, 110, 255);
}

#fname {
    border-radius: 6px;
    background: rgb(199, 223, 255)
}

#lname {
    border-radius: 6px;
    background: rgb(199, 223, 255)
}

@media (min-width: 0px){
    .side {
        background-color: rgb(255, 75, 75);
    }

    .main {
        background-color: orange;
    }
}

@media (max-width: 768px){
    .side {
        display: none;
        width: 0%;
    }

    .main {
        width: 100%;
        background-color: orange;
    }
}